<h1>Creat a new post</h1>
<form action="<%=posts_url%>" method="post">
  <label name="title">Title<input type="text" name="post[title]"></label>

  <label name="author_id">Who's posting<input type="numerical" name="post[author_id]"></label>
  <label name="sub_id">Which sub<input type="numerical" name="post[sub_id]"></label>
  <input type="submit">
</form>
